.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.background {
  background-image: url("./images/bars.png");
  background-size: 100%;
  background-position: 50% 0;
  background-repeat: repeat-y;
}

/* .btn-primary {
  background-color: #7752ff!important;
  border-color: #7752ff!important;
} */

.card {
  margin: 0 auto;
  float: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-img-top {
  /* width: 100%; */
  height: 18rem;
  object-fit: cover;
}

.col-sm {
  margin-bottom: 2rem;
}

.footer {
  background-color: #F8F9FA;
  padding: 30px;
}

.jumbotron {
  margin-top: 2rem;
}

.logo {
  margin-top: 2rem;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-top: 2rem;
}

.table {
  margin-top: 2rem;
  background-color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}